/*Autor
Edgar Carrizalez
C.I. V-19.352.988
Correo: edg.sistemas@gmail.com
*/

ul.periodo_insc{
list-style: none;
margin-left:3px;
padding-left: 1em;
text-indent: 0em;
}
ul.periodo_insc li:before{
content: "\00BB \0020";
}
::selection{background: white;}
::-moz-selection {background: white;}
li{
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}
ul.periodo_insc li{
border:solid 1px white;
width:220px;
cursor:pointer;
}
ul.periodo_insc li:hover{
/*
background:url("../media/bli.png");
background-size: 100% 100%;
*/
background: linear-gradient(white, silver);
border:outset 1px black;
border-radius:8px;
}
ul.periodo_insc li:active{
background: linear-gradient(silver, white);
border:inset 1px black;
border-radius:8px;
}
